@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
html {
  margin-top: 0;
  background-color: #222; }

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  width: 80rem;
  margin: 0 auto; }

.left {
  float: left !important; }

.right {
  float: right !important; }

strong {
  font-size: 1.35em; }

ul {
  margin: 0; }

li {
  list-style-type: none; }

.bx-wrapper .bx-viewport {
  background: none;
  border: none;
  box-shadow: none;
  left: 0;
  transform: translateZ(0px); }

.bx-wrapper {
  margin: 0 !important; }
  .bx-wrapper .bx-caption {
    background: transparent;
    /* Old browsers */
    background: -moz-linear-gradient(top, transparent 0%, black 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, black 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, black 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, black 100%);
    /* IE10+ */
    background: linear-gradient(top, transparent 0%, black 100%);
    /* W3C */
    height: 8.75rem; }
    .bx-wrapper .bx-caption span {
      font-size: 2rem;
      font-weight: bold;
      line-height: 6.25rem;
      text-shadow: 2px 2px 2px black; }
  .bx-wrapper .bx-default-pager {
    bottom: 1.25rem; }
    .bx-wrapper .bx-default-pager a {
      width: 15px !important;
      height: 15px !important;
      -webkit-border-radius: 10px !important;
      -moz-border-radius: 10px !important;
      border-radius: 10px !important;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #ffffff !important; }
      .bx-wrapper .bx-default-pager a.active {
        background: #8A8A8B !important; }

/* header */
header {
  position: relative; }
  header .ribbon {
    float: right;
    color: #FBB03B;
    font-size: 1.5625rem;
    font-weight: bold;
    margin: 3.125rem 2.9375rem; }
  header a.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 60px; }
  header .encabezado {
    background: url("../images/header-bg.png");
    min-height: 220px; }
  header .menu {
    position: absolute;
    width: 43.75rem;
    bottom: 0.625rem;
    display: table;
    right: 0.625rem; }
    header .menu > li {
      padding: 0.1em 0.5em;
      float: left;
      text-transform: uppercase;
      position: relative; }
      header .menu > li a {
        color: #ffffff;
        font-size: 1.25rem; }
      header .menu > li .sub-menu {
        display: none;
        margin: 0;
        position: absolute;
        top: 32px;
        width: 229%;
        z-index: 9999;
        left: 0;
        padding: .5em;
        -webkit-box-shadow: 5px 5px 5px black;
        -moz-box-shadow: 5px 5px 5px black;
        box-shadow: 5px 5px 5px black; }
        header .menu > li .sub-menu > li {
          float: none !important;
          padding: 0.1em 0.5em;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-transform: none;
          border-bottom: solid 1px #CF574E; }
          header .menu > li .sub-menu > li:hover {
            background: #95261D; }
          header .menu > li .sub-menu > li:last-child {
            border-bottom: none; }
      header .menu > li:hover {
        background: #C73327; }
        header .menu > li:hover > a {
          font-weight: bold; }
        header .menu > li:hover .sub-menu {
          display: block;
          background: #C73327; }
      header .menu > li.current-menu-item {
        background: #C73327; }
        header .menu > li.current-menu-item a {
          font-weight: bold; }

.main {
  background: #ffffff; }

.home .slider img {
  width: 100%; }

.main-body {
  width: 92%;
  margin: 1.5em auto; }
  .main-body .menu-container {
    width: 76%;
    float: left; }
    .main-body .menu-container .search-menu li {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em; }
      .main-body .menu-container .search-menu li.no-margin {
        margin-right: 0; }
      .main-body .menu-container .search-menu li a:hover {
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70); }

.main-footer {
  width: 92%;
  margin: 1.5em auto; }
  .main-footer .notice {
    float: left;
    width: 25%;
    padding: 1em;
    height: 16.5625rem;
    overflow: hidden;
    margin-bottom: 1em; }
    .main-footer .notice .post-categories {
      margin-bottom: .5em;
      display: table; }
      .main-footer .notice .post-categories li {
        border: solid 1px #FBB03B;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 0 5px;
        float: left;
        margin-right: .5em; }
      .main-footer .notice .post-categories a {
        color: #FBB03B;
        font-size: 1rem;
        font-weight: bold; }
    .main-footer .notice .title h4 {
      color: #C73327;
      font-weight: bold; }
    .main-footer .notice .title:hover {
      text-decoration: underline;
      color: #C73327; }
    .main-footer .notice p {
      color: #000000;
      font-size: 1rem;
      position: relative; }
      .main-footer .notice p:before {
        left: 0;
        content: "";
        bottom: 0;
        width: 100%;
        background: url("../images/bg-parrafo.png") repeat-x;
        height: 4.3125rem;
        position: absolute; }

/* sidebar */
.sidebar {
  float: right;
  position: relative; }
  .sidebar .programing li {
    background: #5C0F09;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-bottom: solid 1px #D25C52; }
    .sidebar .programing li:first-child {
      line-height: inherit;
      border-bottom: none; }
    .sidebar .programing li:last-child {
      border-bottom: none; }
    .sidebar .programing li a {
      font-size: 1.25rem;
      color: #ffffff; }
      .sidebar .programing li a:hover {
        text-decoration: underline; }
  .sidebar.small {
    background: #FBB03B;
    padding: 2em 1.5em; }

.reglamento {
  color: #000000;
  float: right;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-right: 2.5rem;
  position: relative; }
  .reglamento:before {
    width: 29px;
    height: 36px;
    content: "";
    position: absolute;
    right: -38px;
    top: -3px;
    background: url("../images/reglamento.png"); }
  .reglamento:hover {
    color: #000000;
    text-decoration: underline; }

.single-body {
  width: 74%;
  float: left;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 3em; }
  .single-body h1 {
    font-size: 2.25rem;
    color: #C73327;
    font-weight: bold; }
  .single-body h2 {
    font-size: 1.5625em;
    text-transform: uppercase;
    color: #C73327;
    font-weight: bold; }
  .single-body .film-list {
    background: #E6E6E6;
    margin: 0; }
    .single-body .film-list .small-4 {
      padding: 0;
      margin: 0;
      width: 25%; }
    .single-body .film-list .small-8 {
      width: 70%;
      margin: 0;
      padding: 1.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .single-body .film-list .small-8 .title {
        color: #5C0F09; }
      .single-body .film-list .small-8 .director {
        color: #C73327;
        font-weight: bold; }
  .single-body .nav-previous a,
  .single-body .nav-next a,
  .single-body .buscador a {
    color: #F15A24;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline; }

.the-film .film-head {
  background: #E6E6E6; }
.the-film .film-poster {
  float: left;
  width: 30%;
  margin: 0; }
.the-film .film-items {
  float: left;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 2em; }
.the-film .film-body {
  margin-top: 1em; }
  .the-film .film-body .sinopsis, .the-film .film-body .director {
    line-height: normal;
    margin-top: 2em; }
.the-film .director {
  margin: 0;
  margin-bottom: 1em; }
  .the-film .director figure {
    width: 30%; }

.buscador {
  margin-top: 2em; }

#searchform {
  background: none repeat scroll 0 0 #e6e6e6;
  padding: 1em 1em 0; }

form label {
  font-weight: bold;
  color: #000000;
  font-size: 1em; }
form input[type='submit'] {
  text-transform: uppercase;
  color: #ffffff;
  background: #C73327;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: .5em 3.7em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* footer */
footer {
  padding: 2em 2em;
  background-color: #555555; }
  footer .frame {
    margin-right: 2em; }
  footer .logo-footer {
    margin-top: 1.6em; }
  footer .social {
    margin-top: 4em; }
    footer .social li {
      float: left;
      margin-left: 1em; }
    footer .social a {
      width: 41px;
      height: 41px;
      background: url("../images/social.png");
      display: block; }
      footer .social a:hover {
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70); }
      footer .social a.fb {
        background-position: 0 0; }
      footer .social a.tw {
        background-position: -54px 0; }

footer div.pie {
  text-align: center; }

/* sponsors */
aside.sponsors {
  text-align: center;
  background-color: #000000; }

aside.sponsors li:nth-child(1) {
  width: 30%;
  text-align: center;
  display: block;
  margin: 0 auto; }

aside.sponsors li {
  display: inline-block;
  padding: 0.5em;
  width: 15%;
  vertical-align: middle; }

aside.sponsors li > a {
  display: block; }
